html, body {
  overflow-x: hidden;
  width: 100%;
  text-align: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0e0e0 !important;
}

ul {
  padding-left: 0 !important;
}

a, a:hover {
	text-decoration: none !important;
	color: inherit !important;
}

a, a:hover, .download-btn:focus {
  outline: none;
}

a, a:hover, .download-btn, .nav-item:hover {
  cursor: pointer;
}

.text-right {
  text-align: right !important;
}

.scrolltop {
	z-index: 30;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 18px;
	right: 18px;
	opacity: 1;
  animation: display 0.5s;
	-webkit-animation: display 0.5s;
	-moz-animation: display 0.5s;
}

.scrolltop .fa-angle-up {
	font-size: 1.5rem;
	top: 0px;
  position: relative;
	font-weight: normal;
}

.project-img-page {
  min-height: calc(100vh - 160px);
  padding-top: 5rem;
}

.project-img-page, .section-container, .back-btn {
  background-color: #fff;
}

.social-icon, .download-btn, .card-footer-button {
	padding: .5rem;
}

.social-icon .fa {
  font-size: 1.3rem;
}

.fa, .social-icon .fa:hover {
	font-size: 1.7rem;
  -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.fa, .download-btn {
  opacity: .8;
}

.social-icon .fa:hover {
  opacity: 1;
}

.fa, .nav-item, footer, .name-box p, .download-btn, .scrolltop .fa-angle-up, .landing h1, .landing p, .contact-btn {
  color: #fff;
}

.download-btn, .open-project, .close-project, footer p, .contact-btn {
  font-size: .8rem;
}

.download-btn {
  letter-spacing: .3px;
}

.download-btn, .scrolltop, .contact-btn {
  background-color: #000;
}

.download-btn, .open-project, .close-project, .contact-btn, .scrolltop {
  border: none;
}

.download-btn, .open-project, .close-project, .card-footer-button, .back-btn a, .open-project {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
}

.text-thin, .section-description, .open-project, .close-project, .card-title, .card-footer a, .card-footer-button, footer, .project-img-page p, .back-btn, .contact-btn {
  letter-spacing: .5px;
}

.download-btn:hover, .contact-btn:hover {
	box-shadow: 0 3px 10px 2px rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 10px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 3px 10px 2px rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 10px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 3px 10px 2px rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 10px 0 rgba(0,0,0,.08);
}

.landing {
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  padding-top: 72px;
  min-height: 102vh;
}

.contact-modal .fa {
  color: #000;
}

.contact-btn {
  border-radius: 10px;
}

.name-box {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, .5);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
  -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .5);
  margin-top: 55vh;
}

.landing h1 {
  font-size: 2.6rem;
}

.landing h2 {
  color: rgba(255, 255, 255, .45);
  font-size: 1.3rem;
}

.landing h1, .contact-modal, .section-title, .job-title, .edu-course {
  letter-spacing: .75px;
}

.contact-modal {
	font-size: 1.33rem;
}

.landing h1, footer p {
	margin-bottom: 0;
}

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.navbar, footer, .name-box {
  background-color: #006159;
}

.nav-scroll {
  letter-spacing: 1.2px;
}

.nav-scroll, .contact-btn {
  padding: .5rem 1rem;
}

.nav-scroll, .skills li {
  font-size: 1rem;
}

.nav-scroll:hover {
	transform: perspective(500px) translateZ(2rem);
}

.section-container {
  box-shadow: 0 3px 3px 2px rgba(0, 0, 0, .14);
  -webkit-box-shadow: 0 3px 3px 2px rgba(0, 0, 0, .14);
  -moz-box-shadow: 0 3px 3px 2px rgba(0, 0, 0, .14);
  padding: 3rem !important;
}

.section-title {
  font-size: 2.5rem;
}

.section-title, .edu-info {
  margin-bottom: 1rem;
}

/* .about p, .text-thin, .section-description {
  font-weight: 300;
} */

.about p, .section-place {
  letter-spacing: .8px;
}

.skills h4, .section-place, .open-project, .error-link, .back-btn {
  color: #006159;
}

.skills li {
	padding: .8rem .9rem;
	width: 9rem;
	border: 1px solid #d0d0d0;
	margin: .3rem;
	letter-spacing: .7px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  list-style: none;
}

.skills li, .section-container {
  border-radius: .3rem;
}

.skills li, .scrolltop {
  display: inline-block;
}

.job-title, .edu-course {
	font-size: 1.25rem;
}

.job-title, .edu-course, .section-place, .back-btn, .download-btn {
  font-weight: 500;
}

.job-title, .text-thin i, .text-thin, .edu-course, .section-description {
  color: #595959;
}

.job-col-left {
  border-right: 1px solid #b7b7b7;
	padding-right: 3rem !important;
}

.job-title, .section-place, .edu-course {
  margin-bottom: .2rem;
}

.text-thin i {
	margin-right: .2rem;
	opacity: .5;
}

.text-thin i {
  font-size: 1rem;
}

.job-col-right {
	padding-left: 3rem !important;
	padding-bottom: 2.5rem;
}

.section-place {
  font-style: italic;
  font-size: 1.375rem;
}

.text-thin {
  opacity: .7;
}

.edu-info {
	border-bottom: 1px solid #e8e8e8;
}

.education, .project-img-page {
  padding-bottom: 3rem;
}

.card {
  min-height: 400px;
  margin-bottom: 2rem;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
}

/* .card, .edu-img {
  box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
  -webkit-box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
  -moz-box-shadow: 0 2px 10px 3px rgba(0,0,0,.08), 0 2px 4px 0 rgba(0,0,0,.08), 0 8px 14px 0 rgba(0,0,0,.08);
} */

.card-title, .back-btn {
  font-size: 1.1rem;
}

.open-project:hover {
  color: #000;
  text-decoration: underline;
}

.open-project, .close-project {
  padding: 0;
  margin-bottom: .5rem;
  background-color: transparent;
}

.close-project {
  color: #F14949;
}

.close-project:hover {
  color: #C03838;
}

.card-footer-button {
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 0 0 .375rem .375rem;
}

.card-footer-button:hover {
  background-color: #e9e9e9;
}

.edu-img {
  /* border: 1px solid #d0d0d0;
  border-radius: .3rem; */
  margin-bottom: 1rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.back-btn a:hover > i, .back-btn a:hover {
  color: #000 !important;
}

@media (min-width: 992px) {
  .md-screen {
    display: none;
  }
  .fa-chevron-down {
    font-size: 4rem;
  }
  
}

@media (max-width: 991px) {
  .contact-info div {
    margin-bottom: 1rem;
  }
  .contact-info div:last-child {
    margin-bottom: 0;
  }
  .job-col-left {
    display: none;
  }
  .job-col-right {
    padding-left: 15px !important;
  }
  .landing h1 {
    font-size: 1.8rem;
  }
  .landing h2 {
    font-size: 1rem;
  }
  .landing p {
    font-size: .9rem;
  }
  .name-box {
    margin-top: 45vh;
  }
  video {
    height: 75%;
    width: 75%;
  }
}

@media (min-height: 900px) {
  .landing h1 {
    font-size: 2.3rem;
  }
  .landing h2 {
    font-size: 1.3rem;
  }
  .landing p {
    font-size: 1rem;
  }
  .name-box {
    margin-top: 55vh;
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    text-align: right;
  }
  .nav-scroll:hover {
    transform: none;
  }
}

@media (max-width: 576px) {
  .section-container {
    padding: 2rem 1rem !important;
  }
  .landing h1 {
    font-size: 1.8rem;
  }
  .landing h2 {
    font-size: 1rem;
  }
  .landing p {
    font-size: .9rem;
  }
  .name-box {
    margin-top: 40vh;
  }
  .fa-chevron-down {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  .scrolltop .fa-angle-up {
    left: -50% !important;
  }
}

.remove-border-bottom {border-bottom: none !important;}
/* .remove-edu-img-style {border: none !important;
  margin-bottom: 0;} */